%h2= "#{@course.title} - #{@assessments[0].name}"
=render 'index'
= link_to 'Delete Assignment', course_assignment_path(@course.id, @assessments[0].id), :method => :delete, :confirm => 'Are you sure?'